<div style = "height: 100px;" id = "Color-div">
</div>

<script>
    var color_div = document.getElementById("Color-div");
    var socket = new WebSocket("ws://18.156.1.190:3005/ws")

    socket.onopen = () => color_div.innerHTML = "Status:connected \n";
    socket.onmessage = function(event) {
        const recievedCall = JSON.parse(event.data)
        if(recievedCall.body === "true"){
            color_div.style.backgroundColor = "black"
        }
        else {
            color_div.style.backgroundColor = "red"
        }
    };
</script>
