﻿@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="changingDiv" style="background-color: black; height: 100px">
  
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>