﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin Pannel";
}
<h1>@ViewData["Title"]</h1>

<Button id="sendBlack"> Change to black</Button>
<Button id="sendRed"> Change to red</Button>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>

